* {
    box-sizing: border-box;

}
body {
    background-color: #b6ad90;
}

.stats-box {
    border: 1px solid black;
    width: 35px;
    height: 35px;
    margin: 5px;
}
.health-box, .sanity-box, .clues-box {
    border: 1px solid red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.condition-box {
    border: 1px solid blue;
    height: 60px;
}
.inventory-box {
    border: 1px solid green;
    height: 60px;
}
.pass-box, .fail-box, .roll-box {
    border: 1px solid salmon;
    max-height: 90px;
    max-width: 200px;
    margin-left: 60px;
    text-align: center;
}
/*
no longer necessary to hover
.pass-box:hover {
    background-color: chartreuse;
}
.fail-box:hover {
    background-color: crimson;
}
*/
.dice-box {
    border: 4px double slategray;
    /* keep this in mind for a change later */
    background: linear-gradient(135deg, hsla(267, 62%, 46%, 1) 0%, hsla(278, 51%, 59%, 1) 25%, hsla(263, 49%, 73%, 1) 50%, hsla(212, 56%, 82%, 1) 75%, hsla(178, 87%, 85%, 1) 100%);
    height: 300px;
}
.die {
    border: 1px solid blue;
    height: 80px;
    width: 80px;
    margin: 25px;
    padding: 15px 30px;
    font-size: 35px;
}
.encounter-box {
    border: 4px double black;
    height: 680px;
}

.display-box {
    width: 90%;
    border: 1px solid red;
    margin: 0 auto;
}

.monster-display h3, .monster-stats h3 {
    border-bottom: 1px solid black;
}

.button-Row {
    border: 1px solid black;
    align-items: center;
}

/*
the following will be the character sheet styling
*/
.hero {
    border: 2px solid black;
}
.hero:hover {
    border: 3px outset red;
}
.card-body {
    /* border: 1px solid rgb(17, 243, 156); */
    margin: 20px;
}

.character-stats {
    border: 1px solid blue;
    width: 500px;
}
.character-img {
    /* max-width: 540px */
    margin: 20px; 
}


.hero-container {
    position: relative;
}

.hero-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}